<body>
<div class="container">
   <div class="jumbotron">
 </style>
  <p style="margin-left:5%">Movie Booking !
    <!-- <a href="https://twitter.com/tyhenkel">@tyhenkel</a> | -->
    <!-- <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a> -->
    <ul>
   <img src="http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png" width="55" height="55" align="middle"> <img src="http://www.islh.org/web/images/purple-twitter-bird.png" width="65" height="65" align="middle"> <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Communication-email-2-icon.png" width="65" height="65" align="middle"> <img src="https://www.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_yahoo_box_lilac.png" width="70" height="60">
 </ul>
  </p>
</div>
</body>
